<div class="wrapper">
    <div class="dots" *ngFor="let dot of dots; let i = index">
        <p class="dot turned-left"
           [ngClass]="{
           'c-blue': dot[0] === 0,
           'c-green': dot[0] === 1,
           'c-red': dot[0] === 2,
           'c-yellow': dot[0] === 3
           }"></p>
        <p class="dot" [ngClass]="{
           'c-blue': dot[1] === 0,
           'c-green': dot[1] === 1,
           'c-red': dot[1] === 2,
           'c-yellow': dot[1] === 3
           }"></p>
        <p class="dot" [ngClass]="{
           'c-blue': dot[2] === 0,
           'c-green': dot[2] === 1,
           'c-red': dot[2] === 2,
           'c-yellow': dot[2] === 3
           }"></p>
        <span class="count">{{i + 1}}</span>
    </div>
</div>

<div class="wrapper">
    <div class="dots" *ngFor="let dot of dots; let i = index">
        <p class="dot turned-right"
           [ngClass]="{
           'c-blue': dot[0] === 0,
           'c-green': dot[0] === 1,
           'c-red': dot[0] === 2,
           'c-yellow': dot[0] === 3
           }"></p>
        <p class="dot" [ngClass]="{
           'c-blue': dot[1] === 0,
           'c-green': dot[1] === 1,
           'c-red': dot[1] === 2,
           'c-yellow': dot[1] === 3
           }"></p>
        <p class="dot" [ngClass]="{
           'c-blue': dot[2] === 0,
           'c-green': dot[2] === 1,
           'c-red': dot[2] === 2,
           'c-yellow': dot[2] === 3
           }"></p>
        <span class="count">{{i + 61}}</span>
    </div>

